{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container" style="min-height:90%;">
  <h1 class="text-center my-2">Ingresar</h1>
  <div class="row justify-content-center my-2">
    <div class="col-5 bg-light border my-3 py-3" >
      <form method="post">
        {% csrf_token %}
          {{ form|crispy }}
          <div class=" row justify-content-center">
            <button class="btn btn-success text-center my-2" type="submit" name="button">Ingresar</button>
          </div>
          <div class=" row justify-content-center">
            <P class="mt-2" >Si aun no tiene cuenta con nosotros, registrese <a href="{% url 'account:register' %}">aquí</a></button>
          </div>
      </form>
    </div>
  </div>


</div>




{% endblock %}
