
  <!-- Modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <form class="form-delete" action="" data-endpoint="{% url 'inicio:delete_producto' p.id  %}" method="post">
            <div class="modal-body">
            {% csrf_token %}
            <p>Desea eliminar el producto: <strong>{{p.name}}</strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
        </form>
