{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container my-2">
      <h4 class="text-center">Perfil</h4>
  </div>

  <div class="container my-2">
    <div class="text-center">
        <div class="row justify-content-center">
              <img class="rounded" src="{{ user.profile.image.url }}" alt="" style="max-height:9em;">
        </div>
        <div class="row justify-content-center mb-3">
          <form  id="form-img" method="post" action="{% url 'account:profile_img' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <small><label for="file-img" class='file-img-label'>Cambiar imagen</label></small>
            <input type="file" id="file-img" name="file-img" class="input-file-hidden"/> -->
            {% for field in form_profile_img %}
              <small><label for="file-img" class='file-img-label'>Cambiar imagen</label></small>
              {{ field }}
            {% endfor %}  
          </form>
        </div>
        <div class="row">
          <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }}</h2>
            <p class="text-secondary">{{ user.username }}</p>
          </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <form class="col-11 col-md-7 col-lg-6" action="" method="post">
        {% csrf_token %}
        {{ form_user|crispy }}
        <div class=" row justify-content-center">
          <button class="btn btn-success text-center" type="submit" name="button">Registrarme</button>
        </div>
        <div class=" row justify-content-center">
          <P class="mt-2" >Si ya tiene una cuenta con nosotros, ingrese <a href="{% url 'account:login' %}">aquí</a></button>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <form class="col-11 col-md-7 col-lg-6" action="" method="post">
        {% csrf_token %}
        {{ form_profile|crispy }}
        <div class=" row justify-content-center">
          <button class="btn btn-success text-center" type="submit" name="button">Registrarme</button>
        </div>
        <div class=" row justify-content-center">
          <P class="mt-2" >Si ya tiene una cuenta con nosotros, ingrese <a href="{% url 'account:login' %}">aquí</a></button>
        </div>
      </form>
    </div>
  </div>



{% endblock %}
{% block jquery %}
<script type="text/javascript">
  $(document).ready(function(){

    $('#file-img').change(function(){
      $('#form-img').submit();
    });

});
</script>
{% endblock %}
