<!-- <div class="container-fluid pb-2 green-nav">
  <div class="row justify-content-between align-items-center">
    <div class="text-center " style="min-width:4.5em; max-width:4em;">
      <a class="text-white ml-4" href="#">Agrologo</a>
    </div>
    <div class="col-6">
      <nav class="navbar navbar-expand-lg navbar-light green-nav my-0 pt-1">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-iteme" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>

          </div>

      </nav>
    </div>

    <div class="col-5 ">
      <div class="ml-auto d-inline-flex h-100 float-right pr-2">
        <div class="dropdown align-self-center">
          <a class="dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ingresa
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      <div class="px-2 align-self-center">
        <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Ordenes
        </a>
      </div>
      <div class=" px-2 align-self-center">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cart</button>
      </div>
      </div>
    </div>

    </div>
</div> -->

<nav class="navbar navbar-expand-md navbar-light green-nav">
  <a class="navbar-brand text-white" href="#">Agrologo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-iteme" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item d-block d-md-none">
        <a class="text-white pl-0 pr-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Link1
        </a>

        <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Link2
        </a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav ml-auto pr-2">
    <li class="nav-item dropdown px-2">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ingresa
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-iteme" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item px-2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cart</button>
    </li>
    </ul> -->

    </div>
    <div class="ml-auto d-inline-flex h-100 float-right pr-2">
      <div class="dropdown align-self-center">
        <a class="dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ingresa
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <div class="px-2 align-self-center">
      <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
        Ordenes
      </a>
    </div>
    <div class=" px-2 align-self-center">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cart</button>
    </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-md navbar-light green-nav">
  <a class="navbar-brand text-white" href="#">Agrologo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-12 col-sm-9 col-md-8 col-lg-7">
    <form class="form-inline my-2 my-lg-0 ml-2 ">
      <div class="input-group">
        <div class="input-group-prepend">
          <select class="custom-select form-control input-group-text input-small rounded-left select-background bg-light" name="" id="categoria_select" style="width:6em;">
              <option selected class="" value="">Todas</option>
              <option class="" value="">Categoria1 Categoria</option>
            <option class="" value="">Categoria2</option>
            <option class="" value="">Categoria</option>
          </select>
          <select class="" id="width_tmp_select" style="display: none;">
            <option id="width_tmp_option"></option>
          </select>
        </div>
        <input type="text" aria-label="First name" class="form-control d-none d-sm-block buscar" placeholder="Buscar">
        <input type="text" aria-label="Last name" class="form-control d-sm-none buscar" placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-danger rounded-right d-block d-sm-none" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
          <button class="btn btn-success d-none d-sm-block" type="button" id="button-addon">Buscar</button>
        </div>
      </div>
    </form>
  </div>

    <div class="ml-auto d-inline-flex h-100 float-right pr-2">
      <div class="px-2 align-self-center d-none d-md-block">
        <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Link1
        </a>
      </div>
      <div class=" px-2 align-self-center d-none d-md-block">
        <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Link2
        </a>
      </div>
      </div>
</nav> -->




<div class="container-fluid pb-2 green-nav">

  <div class="row  align-items-center">
    <div class="col-1 mx-0 px-0 bg-light" style="">

    </div>
    <div class="d-none d-xlg-block col-1 mx-n3">

    </div>
    <div class="col-12 col-sm-9 col-md-8 col-lg-7">
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group col-12">
          <div class="input-group-prepend">
            <select class="custom-select form-control input-group-text input-small rounded-left select-background bg-light" name="" id="categoria_select" style="width:6em;">
                <option selected class="" value="">Todas</option>
                <option class="" value="">Categoria1 Categoria</option>
              <option class="" value="">Categoria2</option>
              <option class="" value="">Categoria</option>
            </select>
            <select class="" id="width_tmp_select" style="display: none;">
              <option id="width_tmp_option"></option>
            </select>
          </div>
          <input type="text" aria-label="First name" class="form-control d-none d-sm-block buscar" placeholder="Buscar">
          <input type="text" aria-label="Last name" class="form-control d-sm-none buscar" placeholder="Buscar">
          <div class="input-group-append">
            <button class="btn btn-danger rounded-right d-block d-sm-none" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
            <button class="btn btn-success d-none d-sm-block" type="button" id="button-addon">Buscar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="d-none d-md-block col-sm-3 col-md-3 col-lg-4">
      <div class="ml-auto float-right pr-2">
      <div class="px-2">
        <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Link1
        </a>
        <a class="text-white px-2" href="#" id="" role="" data-toggle="" aria-haspopup="true" >
          Link2
        </a>
      </div>
      <div class=" px-2">

      </div>
      </div>
    </div>

      <!-- <div class="col-2 my-auto">
        Ordenes
      </div>
      <div class="col-2 my-auto">
        Carrito
      </div> -->

    </div>
</div>
