<div class="container-fluid">
  <div class="row justify-content-between py-0 my-0 bg-dark" >
  <a class="navbar-brand" href="#">
     <img src="/resources/logo_largo2.png" alt="Ok Logo" class="d-none d-md-inline rounded offset-sm-2" height="40">
   <img src="/resources/logo_ok.png" alt="Ok Logo" class="d-md-none rounded offset-2" height="40">
  </a>

  <!--  <h1 class="col-2 col-lg-6 d-lg-none text-danger">OK</h1>-->
  <form class="my-auto col-9 col-sm-10 col-md-8 col-lg-6" action="">


  <div class="input-group">

   <div class="input-group-prepend d-none d-sm-block">

    <select class="custom-select form-control input-group-text input-small rounded-left select-background bg-light" name="" id="categoria_select" style="width:6em;">
        <option selected class="" value="">Todas</option>
        <option class="" value="">Categoria1 Categoria</option>
      <option class="" value="">Categoria2</option>
      <option class="" value="">Categoria</option>
      </select>
      <select class="" id="width_tmp_select" style="display: none;">
      <option id="width_tmp_option"></option>
    </select>


    </div>

    <input type="text" style=" !important;" class="form-contro border d-none d-sm-block buscar" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
    <input type="text" class="form-control rounded-left d-sm-none buscar" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-danger rounded-right d-block d-sm-none" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
    <button class="btn btn-danger d-none d-sm-block" type="button" id="button-addon">Buscar</button>

  </div>
     </div>
  </form>

  </div>
</div>
